{% extends "movie_csv/master.html" %}
{% block title %}
    Letterboxd but it's for video essays
{% endblock %}
{% block content %}
<h2>Add a video essay</h2>
{% if user.is_authenticated %}
    <p>Welcome! {{user.username}}</p>
    <h3>Popular Video Essays </h3>
    {% for video in videoessays %}
       <li>{{video.title}} </li> 
       <img src="{{ video.thumbnail }}"alt="{{ video.title }}" width = 200>
    {% empty %}
       <li>No video essays yet.</li>
    {% endfor %}

{% else %}
    <h1>Talk about your favorite topics and video essays.</h1>
    <a href = "accounts">Sign up</a>
{% endif %}   
{% endblock %}