{% load static bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- {% bootstrap_css %} -->
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
</head>

    <body>
        <div class="topnav">
            <ul>
             
                <a href="/">Visual Arguments</a>
             
                <a href="/search">LOG A VIDEO</a>
              {% if user.is_authenticated %}
             
                <a href="{% url 'profile'%}">PROFILE</a>
                <a href = "{% url 'logout' %}">LOG OUT</a>
             
              {% else%}
             
                <a href="/accounts/">SIGN UP</a>
             
              {% endif%}
            </ul>
        </div>  
       
        <div class = "content-wrap"> 
        {% block content %}
       
        {% endblock %}
        
       </div>
      
    </body>
</html>