{% extends "movie_csv/master.html" %}
{% block title %}
Search
{% endblock %}

{% block content %}
<form class = "search" method = "get">
     {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>

</form>

{% if indatabase %}
    <h2>Results for "{{search}}"</h2>
    <ul>
        {% for video in indatabase %}
        <div class = "mycard"> 
            <img src = "{{ video.thumbnail }}" alt = "{{ video.title }}" width = 200>
            <li>
            <a href = "{% url 'log_movie' video.id%}">{{video.title}} </a>
            </li>
        </div>
        
        {% endfor %}
        
    </ul>
{% elif results %}
    <h2>Results for "{{ search }}"</h2>
    <ul>
        {% for video in results %}
        <div class = "mycard">
            <img src = "{{ video.thumbnail.static }}" alt = "{{video.title}}">
            <li> 
            <a href = "{% url 'select_video' video.link|cut:'https://www.youtube.com/watch?v=' %}">
                {{ video.title }}
            </a>
            </li>
        </div>
        
        {% empty %}
            <li> No results found </li>
    </ul>
        {% endfor %}
{% endif %}
{% endblock %}