{% extends "movie_csv/master.html" %}

{% block title %}
Bootleg Letterboxd
{% endblock %}

{% block content %}
<form method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

    <h2>Results for "{{ search }}"</h2>
    <ul>
        {% for video in results %}
            <li><a href="{% url 'log_movie' video.id %}">{{ video.title }}</a></li>
            
        {% empty %}
            <h2>No results</h2>
            <li>No results found.</li>
            <a href = "{% url 'fetch'%}">Submit url here</a>
        {% endfor %}
    </ul>

{% endblock %}
