{% extends "movie_csv/master.html" %}
{% block title %}
Visual Arguments
{% endblock %}
{% block content %}

<div>
   <p>Video Essay: {{video}}</p>
   <img src="{{ video.thumbnail }}"alt="{{ video.title }}" width = 300>
   {% if logs.count < 1 %}
    <p>No one has logged this yet.<a href = "{% url 'log_movie' video.id %}">Log it now</a></p> 
   {%else%}
    <p>{{logs.count}} log(s)</p>
    {% endif %}
    {% for log in logs %}
    <p>By: {{log.user.username}}</p>
    <p>review text: {{log.review_text}}</p>
    <p>rating: {{log.rating}}</p>
    {%endfor %}
</div>
{% endblock %}

